/* 캘린더 전체css */
.react-calendar { 
  width: auto;
  max-width: 100%;
  background-color: #ffffff;
  height: 400px;
  font-size: 20px;
  color: #222;
  /* border-radius: 8px; */
  border-width: 0ch;
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* line-height: 1.125em; */
  line-height: 2.2rem;
}

.react-calendar__navigation__prev2-button {
  display:none;
}
.react-calendar__navigation__next2-button{
  display:none;
}

.react-calendar__navigation__label{
  pointer-events: none; 
}

/* 상단 navbar css */
.react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 30px;
  margin-top: 8px;
}

.react-calendar__month-view__weekdays__weekday{
  font-size: 20px;
  font-weight: 500;
  border-top: #000000;
  border-left: #000000;
  border-right: #000000;
  border-width: 1px;
}

/* 상단바 클릭시 css */
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

abbr[title] {
  text-decoration: none;
}

/* 날짜 클릭시 css */

.react-calendar__tile--now {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: #fff;
  border-radius: 6px;
  /* font-weight: bold; */
  color: black;
}

.react-calendar__tile--now::after {
  content: "오늘";
  font-size: 10px;
  padding-top: 2px;
  
}


.react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

/* 클릭된 날짜 bg색깔 */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}




