@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: baloo-da;
  src: url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap')
}

.postmodal {
  position: relative;
  z-index: 9999;
}

:root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
}
