@tailwind base;
@tailwind components;
@tailwind utilities;

.postmodal {
  position: relative;
  z-index: 9999;
}

:root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
}

.swiper-button-prev,
.swiper-button-next {
  background-color: none;
  opacity: 0.5;
  padding: 15px 5px;
  border-radius: 20px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
