@tailwind base;
@tailwind components;
@tailwind utilities;

.postmodal {
  position: relative;
  z-index: 9999;
}

:root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
