@tailwind base;
@tailwind components;
@tailwind utilities;


/* swal custom */
  .mySwalConfirmButton {
    justify-content: center !important;
  }
  
  .mySwalConfirmButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 113, 255, 0.1) !important;
  }
  
  .swal2-html-container {
    font-size: 0.9rem !important;
    font-weight: normal !important;
    font-family: var(--billita-hangul) !important;
  }
  
  .swal2-popup {
    width: 80% !important;
    border-radius: 1rem !important;
    padding: 0.5rem 0 1rem 0 !important;
  }
  
  .my-swal {
    font-weight: bold !important;
    color: black !important;
  }
  
  .my-swal .swal2-popup {
    background-color: white !important;
    border-radius: 0.8rem !important;
  }
  
  .my-swal .swal2-html-container {
    font-size: 0.8rem !important;
    font-weight: normal !important;
    color: black !important;
    display: flex !important;
    justify-content: center !important;
  }
  
  .my-swal .swal2-icon.swal2-info {
    visibility: hidden;
    position: absolute;
  }
  
  .my-swal-warning {
    font-weight: bold !important;
    font-family: var(--billita-hangul) !important;
  }
  .my-swal-warning .swal2-popup.swal2-toast .swal2-html-container {
    color: var(--billita-secondary) !important;
    font-size: 0.7rem !important;
  }
  
  .my-swal-warning .swal2-popup {
    border-radius: 0.3rem !important;
    background-color: #ffffff !important;
    font-weight: 0.8rem !important;
    mix-blend-mode: hard-light !important;
    padding: 0.3rem !important;
    justify-content: center !important;
  }
  
  .my-swal-warning .swal2-popup.swal2-toast .swal2-icon {
    visibility: hidden !important;
  }
  
  .mySwal-only-confirm {
    justify-content: center !important;
  }
  